.u-center-text {
    text-align: center;
}

.u-margin-bottom-big {
    margin-bottom: 4rem;
}

.u-margin-bottom-medium {
    margin-bottom: 2rem;
}

.u-margin-bottom-small {
    margin-bottom: 1.2rem;
}

.u-padding-left-small {
    padding-left: 1.2rem;
}

.u-padding-right-small {
    padding-right: 1.2rem;
}