.navigation {
  font-family: sans-serif;

  .nav-checkbox {
    display: none;
  }

  .nav-button {
    background-color: $color-white;
    height: 3.2rem;
    width: 3.2rem;
    position: fixed;
    top: 1.4rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);
    text-align: center;
  }

  .nav-background {
    height: 3.4rem;
    width: 3.4rem;
    border-radius: 50%;
    position: fixed;
    top: 1.3rem;
    right: 1.9rem;
    background-image: radial-gradient($color-primary, $color-secondary);
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
  }

  .nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1500;

    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .nav-list {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
  }

  .nav-item {
    margin: 1rem;
  }

  .nav-link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 2.4rem;
      font-weight: 300;
      padding: 0 1.2rem;
      color: $color-white;
      text-decoration: none;
      transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 224%;
      transition: all 0.4s;

      span {
        margin-right: 1rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: grey;
      transform: translateX(1rem);
    }
  }

  // functionality
  .nav-checkbox:checked ~ .nav-background {
    transform: scale(80);
  }

  .nav-checkbox:checked ~ .nav {
    opacity: 1;
    width: 100%;
  }

  // icon
  .nav-icon {
    position: relative;
    margin-top: 1.5rem;

    &,
    &::before,
    &::after {
      width: 2rem;
      height: 2px;
      background-color: $color-grey-dark;
      display: inline-block;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before { top: -.6rem;}
    &::after { top: .6rem; }
  }

  .nav-button:hover .nav-icon::before {
    top: -.7rem;
  }

  .nav-button:hover .nav-icon::after {
    top: .7rem;
  }

  .nav-checkbox:checked + .nav-button .nav-icon {
    background-color: transparent;
  }

  .nav-checkbox:checked + .nav-button .nav-icon::before {
    top: 0;
    transform: rotate(135deg)
  }

  .nav-checkbox:checked + .nav-button .nav-icon::after {
    top: 0;
    transform: rotate(-135deg)
  }

}
