@charset "UTF-8";
.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 4rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.2rem;
}

.u-padding-left-small {
  padding-left: 1.2rem;
}

.u-padding-right-small {
  padding-right: 1.2rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
}

:is(h1, h2, h3, h4, h5, h6) {
  font-family: sans-serif;
}

h1 {
  font-weight: 400;
  font-size: 50px;
}

p {
  font-weight: normal;
  font-size: 16px;
  font-family: sans-serif;
}

.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(236, 143, 51, 0.3), rgba(34, 108, 178, 0.3)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
}
.header .logo-box {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.header .logo {
  height: 2.5rem;
}
.header .logo-hero-box {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-52%, -50%);
  text-align: center;
}
.header .logo-hero {
  width: 100%;
  height: 100%;
}
.header .text-box {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.header .heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
}
.header .heading-primary-main {
  display: block;
  font-size: 4.6rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  animation: moveInLeft 1s ease-out;
}
.header .heading-primary-sub {
  font-family: "Fira Code", sans-serif;
  display: block;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  animation: moveInRight 1s ease-out;
  text-align: center;
  margin-bottom: 2rem;
}

ul li {
  display: inline;
}

.wrap-about {
  max-width: 96rem;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
}

.cards {
  max-width: 96rem;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  padding: 1rem;
}

.section-posts {
  height: 100%;
  padding: 12rem 0 10rem;
}

@media (min-width: 600px) {
  .section-posts {
    transform: skewY(-15deg);
  }
  .section-posts > * {
    transform: skewY(15deg);
  }
}
@media (min-width: 900px) {
  .section-posts {
    transform: skewY(-6deg);
  }
  .section-posts > * {
    transform: skewY(6deg);
  }
}
.about-page {
  width: 960px;
  margin: 0 auto;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20.25px;
  font-family: sans-serif;
}

.collapsible:after {
  content: "+";
  color: black;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  font-size: 20.25px;
}

.active:after {
  content: "−";
}

.active,
.collapsible:hover {
  background-color: white;
}

/*# <<<<<<< HEAD */
.about-people-page {
  width: 960px;
  margin: 0 auto;
}
/*# ======= */
.btn:link, .btn:visited {
  text-decoration: none;
  padding: 0.4rem 0.8rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
  font-size: 1.6rem;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.2) scaleX(1);
  opacity: 0;
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem rgba(0, 0, 0, 0.2);
}
.btn-main {
  color: #fff;
  font-size: 1.4rem;
  font-family: "Fira Code", sans-serif;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn-animated {
  animation: moveInBottom 0.9s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #ec8f33;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #ec8f33;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #ec8f33;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
}

@keyframes bounce-1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
/*# >>>>>>> delevop */
}

/*# sourceMappingURL=style.css.map */
