.container {
    width:680px;
    display:block;
    margin:0 auto;
}

header {

    h1 {
        text-align: center;
    }

    element.style {
        position: relative;
        min-height: 100%;
        top: 0px;
    }

body.bb-custom-typo {
    font-family: 'SF UI Text', sans-serif;
}

body {
    top: 0 !important;
}

body, body #main-wrap, .formatted-content {
    background-color: #ffffff;
}

body, input, textarea, select, .forgetme:hover, .joinbutton:hover, .siginbutton:hover, .post-grid .entry-content, .comment-text, .bb-message-box .message-content, #bs-message-threads p.thread-subject, .bb-document-theater .bb-media-section h3, .widget.widget_display_stats dt, blockquote, .bb-profile-meta span span, body.register .registration-popup.bb-modal {
    color: #00062b;
}

body, html {
    min-height: 100%;
}

*, :after, :before {
    box-sizing: inherit;
}

*, :after, :before {
    box-sizing: inherit;
}

*, :after, :before {
    box-sizing: inherit;
}






}  
footer {   
    a:link{
        text-decoration: none;
    }
}